version: '3.8'

services:
  web:
    build: .
    container_name: flask_web
    ports:
      - "8000:8000"
    volumes:
      - ./logs:/app/logs

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - ./docker/nginx_app.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
